<%= form_for @profile do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div></br>

  </br>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

